<div class="m-3" style="text-align:center">
  <h2 style="color: #0033cc">
    EMI Calculator
  </h2>
</div>

<div class="container col-6 offset-3">
  <mat-card>
    <form class="form" [formGroup]="EMICalcForm" (ngSubmit)="CalculateEMI(EMICalcForm.value)">
      <mat-form-field class="full-width">
        <span matSuffix>₹ &nbsp;</span>
        <input matInput placeholder="Principal Loan Amount" formControlName="principal">
        <mat-error *ngIf="EMICalcForm.controls['principal'].invalid && (EMICalcForm.controls['principal'].dirty || EMICalcForm.controls['principal'].touched)" >
          <mat-error *ngIf="EMICalcForm.controls['principal'].errors.required">
            Loan amount is required.
          </mat-error>
          <mat-error *ngIf="EMICalcForm.controls['principal'].errors.pattern">
            Enter valid amount.
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Rate of interest" formControlName="interestRate">
        <span matSuffix>% &nbsp;</span>
      
        <mat-error *ngIf="EMICalcForm.controls['interestRate'].invalid && (EMICalcForm.controls['interestRate'].dirty || EMICalcForm.controls['interestRate'].touched)">
          <mat-error *ngIf="EMICalcForm.controls['interestRate'].errors.required">
              Rate of interest is required.
          </mat-error>
          
          <mat-error *ngIf="EMICalcForm.controls['interestRate'].errors.pattern">
            Enter valid rate of interest.
          </mat-error>

          <mat-error *ngIf="EMICalcForm.controls['interestRate'].errors.max">
              Rate of interest should be less than or equal to 15.
          </mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Number of months" formControlName="months">
      
        <mat-error *ngIf="EMICalcForm.controls['months'].invalid && (EMICalcForm.controls['months'].dirty || EMICalcForm.controls['months'].touched)">
          <mat-error *ngIf="EMICalcForm.controls['months'].errors.required">
              Number of months is required.
          </mat-error>
        
          <mat-error *ngIf="EMICalcForm.controls['months'].errors.pattern">
            Enter valid number of months.
          </mat-error>

          <mat-error *ngIf="EMICalcForm.controls['months'].errors.max || EMICalcForm.controls['months'].errors.min">
              Number of months should be between 1 to 360.
          </mat-error>
        </mat-error>
      </mat-form-field>
      <div class="text-center">
      <button mat-raised-button color="primary" [disabled]="!EMICalcForm.valid">Calculate EMI</button>
      </div>
    </form>
  </mat-card>
</div>

<br>

<div class="container col-6 offset-3">
  <table class="table table-bordered table-hover table-lg">
    <tr>
        <th scope="col"> EMI </th>
        <td > {{EMI | currency : 'INR'}} </td>
    </tr>
    <tr>
        <th scope="col"> Total interest payable </th>
        <td > {{totalInterest | currency : 'INR'}} </td>
    </tr>
    <tr>
        <th scope="col"> Total Payment <span class="font-weight-normal">(Principal + Interest) </span></th>
        <td > {{totalPayment | currency : 'INR'}} </td>
    </tr>
  </table>
</div>

<div [chart]="chart1" class="container col-6 offset-3"></div>